<div class="container-fluid">
	<div class="row-fluid">
		If you want to experiment in a sandboxed environment, use the <a href="http://www.obeliskos.com/LokiSandbox/" target="_blank">LokiJS Sandbox</a>
	</div>
	<div class="row-fluid">
		<h3>YATDA: The inevitable "Yet Another ToDo App"</h3>
		<p>
			A classic demonstration of the usage of a library: a todo app. On the right hand side you populate the database and remove documents from it, whereas on the right hand side you can see real time queries being run, including a mapreduce of the average duration of a todo, the IDs of the outstanding tasks and the size of the todo collection. Enjoy!
		</p>
	</div>
	<div class="row-fluid">
		<div class="span8 col-md-8">
		<formrow></formrow>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>title</th>
					<th>description</th>
					<th>duration</th>
					<th>complete</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="todo in todos.data track by todo.$loki" ng-class="{true:'striken', false:''}[todo.complete]">
					<th>{{ todo.title }}</th>
					<td>{{ todo.description}}</td>
					<td>{{ todo.duration }} hours</td>
					<td><input type="checkbox" ng-model="todo.complete" /></td>
					<td><button class="btn btn-danger" ng-click="deleteRecord( $index )"><i class="icon-remove icon-white"></i>delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span4 col-md-4 well darkgreen">
		<h4>Queries</h4>
		<table class="table table-striped">
			<tr>
				<th>Records</th>
				<td>{{ todos.data.length }}
				</tr>
				<tr>
					<th>Avg. duration (mapreduce)</th>
					<td>{{ avgDuration() }}</td>
				</tr>
				<tr>
					<th>Outstanding (view query)</th>
					<td>{{ getIncomplete() }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row-fluid" style="clear: both">
		<h4>Queries explained</h4>
		Todos are stored in a collection in the variable <code>todos</code>:
		<table class="table table-striped">
			<tr>
				<th>Records</th>
				<td>
					<code>
					var records = todos.data.length;
					</code>
				</td>
			</tr>
			<tr>
				<th>Average duration</th>
				<td>
					<pre>
						  function getDuration( obj ){
						    return obj.complete ? null : obj.duration;
						  }
						  function getAverage( array ){
						    var cumulator = 0;
						    var i = array.length >>> 0;
						    var actual = 0;
						    while(i--){
						      if(array[i] != null){
						        cumulator += array[i];
						        actual++;
						      }
						    }
						    return ( cumulator / actual).toFixed(2);
						  }
						  var avgDuration = todos.mapReduce( getDuration, getAverage );
					</pre>
				</td>
			</tr>
			<tr>
				<th>Oustanding</th>
				<td>
					<pre>
						// usage of views
						function outstanding(obj){
						  return !obj.complete;
						}
						// store the view for later usage
						var view = todos.addDynamicView('outstanding');
						view.applyFind(outstanding);
					</pre>
				</td>
			</tr>
		</table>
	</div>
</div>