<div class="container-fluid">
	<div class="hero-unit well darkgreen">

		<h1><img src="images/kaunaz.gif" class="logo" style="width:90px"/> LokiJS [v1.4]</h1>
		<p>1.2M ops/s.
		<br />A fast, in-memory document-oriented datastore for node.js, browser and cordova</p>
		<iframe src="https://ghbtns.com/github-btn.html?user=techfort&repo=LokiJS&type=star&count=true&v=2&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

	</div>
	
	<div class="row-fluid">
		
		<div class="span7 col-md-7">	
			<h2>In-memory JavaScript Datastore with Persistence</h2>
			What is LokiJS?
			<ul>
				<li>In-Browser NoSQL db with syncing and persisting</li>
				<li>Persistable NoSQL db for Cordova / Phonegap / Nativescript</li>
				<li>Embeddable NoSQL db with Persistence for node-webkit</li>
				<li>a Redis-style store an npm install away</li>
			</ul>
			<p>

			<span class="loki">LokiJS</span> is an in-memory database which prioritises <span class="loki">performance</span> over everything <span class="loki">&#42;</span> <br>
			<span class="loki">LokiJS</span> supports field indexing for faster document access and performs really well (over 1.1M ops/s on an average dev machine) on those. Its built-in DynamicView class also enables to utilize indexes on data subsets for even faster performance.<br />
			DynamicView has the very handy feature of detecting changes in the database and recomputing itself to contain the most up-to-date data, and data is always readily available through the <code>data()</code> method.
			<p>
				<span class="loki">&#42;</span> read <a target="_blank" href="https://github.com/techfort/LokiJS/wiki/Indexing-and-Query-Performance">this</a> to get an idea of <span class="loki">LokiJS</span>'s performance.
			</p>
			<p>Among the features that make LokiJS attractive are:
				<ul>
					<li>Fast Performance</li>
					<li>Replaces SQLite in Cordova, works as a session store and full blown NoSQL db in node.js, works as in-browser database with syncing capabilities</li>
					<li>Indexing / Secondary Indexing / Unique Indexing</li>
					<li>The "Dynamic View", a kind of "live filter" (self-materializing views)</li>
					<li>Resultset with Fluent API</li>
					<li>Persistence Adapters (with a built-in IndexedDB and node.js FS adapter)</li>
					<li>Optional periodic autosave</li>
					<li>Changes API</li>
					<li>Compound sort for sorting on multiple columns</li>
					<li>Insert class instances and deserialize/ inflate objects into class instances</li>
					<li>partial compatibility with MongoDB API</li>
					<li>RethinkDB-style Joins</li>
				</ul>
			</p>
			<p>

			<br />
			<span class="loki">LokiJS</span> supports collections, much like MongoDB, and saves data to disk (to resume state across sessions) in JSON, so your data is portable.<br />
			<span class="loki">LokiJS</span> is compatible with node.js and browser.
		</p>
		<p>
			Javascript is an easy to learn, versatile language, so database development in javascript can be easy and very productive. You may not want to
			retire your MongoDB instances just yet but here are some situations in which you may find <span class="loki">LokiJS</span> to be the ideal solution:
			<ul class="nav nav-pills nav-stacked">

			<li><a href="#">Mobile applications - especially HTML5 based (Cordova, Phonegap, etc.)</a></li>
			<li><a href="#">Node.js embedded datastore for small-to-medium apps</a></li>
			<li><a href="#">Embedded in desktop application with NW.js, Electron etc.</a></li>

			</ul>
			<span class="loki">LokiJS</span> is also going full blown standalone server soon, with http and tcp clients available.
		</p>
		<h2>Choose your favourite paradigm</h2>
		<p>
			<span class="loki">LokiJS</span> leverage the power of javascript by being versatile.<br>
			If functional programming is your preferred style then you may want to create views to query your data.<br>
			If you prefer object literals in MongoDB shell style, you can use those.<br>
		</p>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.slideshare.net/slideshow/embed_code/40269951" width="425" height="355" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/techfort/lokijs" title="Lokijs" target="_blank">Lokijs</a> </strong> from <strong><a href="//www.slideshare.net/techfort" target="_blank">Joe Minichino</a></strong> </div>
		</div>

		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" width="425" height="315" src="//www.youtube.com/embed/jgW23Uo-XZ8" allowfullscreen></iframe>
		</div>
	</div>
	<div class="span5 col-md-5 endorsements">

	</div>
	<div class="span5 col-md-5">
		<h2>NEWS!</h2>
			<p>
			LokiJS has seen incredible momentum going in the community, with some important contributions made by many talented developers. Among those:
			<ul>
			<li><a href="https://github.com/TobiasHennig/loki-nativescript-adapter" target="_blank">Nativescript Adapter</a></li>
			<li><a href="http://lean-stack.io" target="_blank">LEAN STACK</a>: the first Pure JavaScript full-stack framework</li>
			<li>Further (!!) performance improvements</li>
			<li>A huge number of bug fixes</li>
			</ul>
			</p>

			<h3>Quick Start</h3>
			<h4>Installation</h4>
			<p>

			LokiJS is available on npm and bower. Run:<br>
			<code>npm install lokijs</code> <br>
			or:<br>
			<code>bower install lokijs</code>
		</p>
		<h4>Usage</h4>
		<p>
			Create the database:<br>
			<pre>var db = new loki('loki.json')</pre>
			<br />Pass the filename where to persist data
		</p>
		<p>
			Create a collection:<br>
			<pre>
var children = db.addCollection('children')</pre>
		</p>
		<p>
			Insert a document:<br>
			<pre>
children.insert({name:'Sleipnir', legs: 8})
children.insert({name:'Jormungandr', legs: 0})
children.insert({name:'Hel', legs: 2})</pre>
		</p>
		<p>
			Retrieve documents:<br>
			<pre>
children.get(1); // returns Sleipnir
children.find( {'name':'Sleipnir'} )
children.find( { legs: { '$gt' : 2 } } )</pre><br>
		</p>
		<p>
			<p>
				Create a dynamic view:<br>
				<pre>
var legs = children.addDynamicView('legs');
legs.applyFind( { legs: { '$gt' : 2 } })
legs.applySimpleSort('legs');
legs.data();</pre><br>
			</p>
			<p>
				MapReduce:<br>
				<pre>
children.mapReduce(
  function( obj ){ return obj.legs; } ,
  function( array ) {
    var sum = 0;
    for (var i=0; i < array.length; i++ ){
      sum += array[i];
    }
    return ( sum / array.length ).toFixed(2);
});</pre>
			</p>
		</div>
	</div>
</div>
