<div class="container-fluid">
	
	<div class="hero-unit well darkgreen">
		<h1><img src="images/kaunaz.gif" class="logo" style="width:90px"/> LokiJS</h1>
		<p>A fast, in-memory document-oriented datastore for node.js and browser</p>
	</div>
	
	<div class="row-fluid">
		
		<div class="span7">	
			<h2>A Javascript Database</h2>

			<p>
			<span class="loki">LokiJS</span> is an in-memory javascript database which prioritises performance over everything.<br>
			<span class="loki">LokiJS</span> supports field indexing for faster document access and performs really well (near 500,000 ops/s) on those.
			</p>
			<p>
			Javascript is an easy to learn, versatile language, so database development in javascript can be easy and very productive. You may not want to 
			retire your MongoDB instances just yet but here are some situationss in which you may find <span class="loki">LokiJS</span> to be the ideal solution:
			<ul class="nav nav-pills nav-stacked">
			<li><a href="#">Mobile applications - especially HTML5 based (Cordova, Phonegap, etc.)</a></li>
			<li><a href="#">Node.js embedded datastore for small-to-medium apps</a></li>
			<li><a href="#">Embedded in desktop application with Node Webkit</a></li>
			</ul>
			
			</p>

			<h2>Choose your favourite paradigm</h2>

			<p>
			<span class="loki">LokiJS</span> leverage the power of javascript by being versatile.<br>
			If functional programming is your preferred style then you may want to create views to query your data.<br>
			If you prefer object literals in MongoDB shell style, you can use those.<br>
			</p>
			<iframe src="//www.slideshare.net/slideshow/embed_code/40269951" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/techfort/lokijs" title="Lokijs" target="_blank">Lokijs</a> </strong> from <strong><a href="//www.slideshare.net/techfort" target="_blank">Joe Minichino</a></strong> </div>
			<iframe width="560" height="315" src="//www.youtube.com/embed/jgW23Uo-XZ8" frameborder="0" allowfullscreen></iframe>

		</div>

		<div class="span5 well lightgreen">
			<h3>Quick Start</h3>
			<h4>Installation</h4>
			<p>
			LokiJS is available on npm and bower. Run:<br>
			<code>npm install lokijs</code> <br>
			or:<br>
			<code>bower install lokijs</code>
			</p>

			<h4>Usage</h4>
			<p>
			Create the database:<br>
			<code>var db = new loki('loki.json')</code>
			<br />Pass the filename where to persist data
			</p>
			<p>
			Create a collection:<br>
			<code>var children = db.addCollection('children')</code>
			</p>
			<p>
			Insert a document:<br>
			<code>children.insert({name:'Sleipnir', legs: 8})</code><br >
			<code>children.insert({name:'Jormungandr', legs: 0})</code><br>
			<code>children.insert({name:'Hel', legs: 2})</code>
			</p>
			<p>
			Retrieve documents:<br>
			<code>children.get(1); // returns Sleipnir</code><br> 
			<code>children.find( {'name':'Sleipnir'} )</code><br>
			<code>children.find( { legs: { '$gt' : 2 } } )</code><br>
			</p>
			<p>
			<p>
			Create a dynamic view:<br>
			<code>var legs = children.addDynamicView('legs');</code><br> 
			<code>legs.applyFind( { legs: { '$gt' : 2 } )</code><br>
			<code>legs.applySimpleSort('legs');</code><br>
			<code>legs.data();</code><br>
			</p>
			<p>

			MapReduce:<br>
			<pre>
children.mapReduce( 
  function( obj ){ return obj.legs; } , 
  function( array ) { 
    var sum = 0;
    for (var i=0; i < array.length; i++ ){ 
      sum += array[i];
    }
    return ( sum / array.length ).toFixed(2);
 });</pre>
			</p>


		</div>

	</div>
	
</div>